{% extends 'cal/base.html' %}

    {% block title %} Calendar {% endblock %}
    {% block head %}
        <style>
            div#calendar{padding:5px;}
            div#filterPane{
                padding:10px;
                margin-right:5px;
                display:none;
                position:absolute;
                right:0;
                top:60px;
                z-index: 999;
                border:solid 1px black;
                border-radius: 5px;
                background-color: #FFFFFF;
            }
            label {
                display: block;
                padding-left: 15px;
                text-indent: -15px;
            }
            input {
                width: 13px;
                height: 13px;
                padding: 0;
                margin:0;
                vertical-align: bottom;
                position: relative;
                top: -1px;
                *overflow: hidden;
            }
            table.filter {
                width:auto !important;
                border:none !important;
                float:left;
                margin:5px;
            }
            table.filter td{
                border-style:none !important;
            }
        </style>
        {% load static from staticfiles %}
        <script type="text/javascript" src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
        <link href="{% static "fullcalendar/dist/fullcalendar.min.css" %}" rel="stylesheet">
        <script>
            //Get and Set Params functions
            function getParams() {
                var paramArr = window.location.search.substr(1).split("&")[0] == "" ? [] : window.location.search.substr(1).split("&");
                var params = {};
                for (var i = 0; i < paramArr.length; i++) {
                    var param = paramArr[i];
                    params[param.split("=")[0]] = param.split("=")[1]
                };
                return params
            };
            function setParams(params) {
                if (params === undefined) {
                    params = {}
                }
                var i = 1,
                    locationSearch = "",
                    len = Object.keys(params).length;
                for (var param in params) {
                    if (i == 1) {
                        locationSearch += "?"
                    }
                    locationSearch += param
                    locationSearch += "="
                    locationSearch += params[param]
                    if (i < len) {
                        locationSearch += "&"
                    }
                    i += 1
                };
                window.history.pushState({}, "", "/calendar/" + locationSearch);
            };
            function setDateParam(view,element){
                var startDate = view.start,
                date = startDate.add(15,'days'),
                y = date.year(),
                m = date.month()+1,
                q = {"y":y.toString(),"m":m.toString()};
                var o = getParams();
                setParams(q);
                //if((o.y != q.y) || (o.m != q.m)){location.reload();}
                };
            function dayClick(date,jsEvent,view){
                window.alert(date);
            };
            //Default filter settings
            filterDict = {}
            filterDict.displayTasks = false
            filterDict.displayEvents = true
            foci = {{foci|safe}}
            for (i in foci) {
                var focus = foci[i];
                filterDict['display_focus_'+focus] = true;
            };
            filterDict.displayP1 = true
            filterDict.displayP2 = true
            filterDict.displayP3 = true
            filterDict.displayPN = true
            function eventFilter(event,element) {
                var metaBool = true,
                boolDict = {};
                boolDict.isTask = event.type=="task";
                boolDict.isEvent = event.type=="event";
                for (i in foci) {
                    var focus = foci[i];
                    boolDict['is_focus_'+focus] = event.focus==focus;
                };
                boolDict.isP1 = event.priority==1;
                boolDict.isP2 = event.priority==2;
                boolDict.isP3 = event.priority==3;
                boolDict.isPN = event.priority=="None";
                if(!filterDict.displayTasks){
                    metaBool = metaBool && !boolDict.isTask;
                };
                if(!filterDict.displayEvents){
                    metaBool = metaBool && !boolDict.isEvent;
                };
                for(i in foci){
                    var focus = foci[i];
                    if(!filterDict['display_focus_'+focus]){
                        metaBool = metaBool && !boolDict['is_focus_'+focus];
                    };
                };
                if(!filterDict.displayP1){
                    metaBool = metaBool && !boolDict.isP1;
                };
                if(!filterDict.displayP2){
                    metaBool = metaBool && !boolDict.isP2;
                };
                if(!filterDict.displayP3){
                    metaBool = metaBool && !boolDict.isP3;
                };
                if(!filterDict.displayPN){
                    metaBool = metaBool && !boolDict.isPN;
                };
                return metaBool;
            };
            function openFilters(){
                $('#filterPane').slideToggle();
            };
            $(document).ready(function(){
                var now = moment(),
                events = [
                    {% for event in events %}
                        {
                            "title": he.decode("{{event.title}}"),
                            "start": "{{event.start|date:"Y-m-d"}}",
                            "end": "{{event.end|date:"Y-m-d"}}T24:00:00Z",
                            "color":"{{event.color}}",
                            "url": "{{event.get_event_url}}",
                            "type": "event",
                            "focus": "{{event.focus}}",
                            "priority": "{{event.priority}}",
                        },
                    {% endfor %}
                    {% for task in tasks %}
                        {
                            "title": he.decode("{{task.event.title}} task - {{task.name}}"),
                            "start": "{{task.start|date:"Y-m-d"}}",
                            "end": "{{task.end|date:"Y-m-d"}}T24:00:00Z",
                            "color": "forestgreen",
                            "url": "{{task.event.get_gantt_url}}",
                            "type": "task",
                            "focus": "{{task.event.focus}}",
                            "priority": "{{task.event.priority}}",
                        },
                    {% endfor %}
                ];
                $('#calendar').fullCalendar({
                    weekends: false,
                    allDayDefault:true,
                    events: events,
                    //dayClick:dayClick,
                    eventRender:eventFilter,
                    header: {
                        left:   'title',
                        center: '',
                        {% if perm.add_event %}
                        right:  'today prevYear,prev,next,nextYear addEvent openFilters'
                        {% else%}
                        right:  'today prevYear,prev,next,nextYear openFilters'
                        {% endif %}
                    },
                    customButtons: {
                        addEvent: {
                            text: ' + ',
                            click: function() {
                                window.location.href = "{% url 'admin:cal_event_add' %}";
                            }
                        },
                        openFilters: {
                            text: 'filters',
                            click: openFilters
                        },
                    },
                    viewRender: setDateParam,
                    {% if year and month %}
                    defaultDate: moment("{{year}}"+"/"+"{{month}}"+"/01","YYYY/MM/DD"),
                    {% else %}
                    defaultDate: now,
                    {% endif %}
                });
                $('#taskBox').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayTasks = true;
                    }else{
                        filterDict.displayTasks = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
                $('#eventBox').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayEvents = true;
                    }else{
                        filterDict.displayEvents = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
                {% for key, value in fociDict.iteritems %}
                    $('#{{key}}Box').change(function() {
                        if($(this).is(":checked")) {
                            filterDict['display_focus_{{key}}'] = true;
                        }else{
                            filterDict['display_focus_{{key}}'] = false;
                        };
                        $('#calendar').fullCalendar('rerenderEvents')
                    });
                {% endfor %}
                $('#p1Box').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayP1 = true;
                        
                    }else{
                        filterDict.displayP1 = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
                $('#p2Box').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayP2 = true;
                        
                    }else{
                        filterDict.displayP2 = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
                $('#p3Box').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayP3 = true;
                        
                    }else{
                        filterDict.displayP3 = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
                $('#pnBox').change(function() {
                    if($(this).is(":checked")) {
                        filterDict.displayPN = true;
                        
                    }else{
                        filterDict.displayPN = false;
                    };
                    $('#calendar').fullCalendar('rerenderEvents')
                });
            });
        </script>
    {% endblock %}    
    {% block content %}
    <div id="calendar">
        <div id='filterPane'>
            <table class="filter">
                <tr><td><b>Type</b></td></tr>
                <tr><td><input type="checkbox" id="eventBox" checked>Events</input></td></tr>
                <tr><td><input type="checkbox" id="taskBox">Tasks</input></td></tr>
            </table>
            <table class="filter">
                <tr><td><b>Focus</b></td></tr>
                {% for key, value in fociDict.iteritems %}
                <tr><td><input type="checkbox" id="{{key}}Box" checked>{{value}}</input></td></tr>
                {% endfor %}
            </table>
            <table class="filter">
                <tr><td><b>Priority</b></td></tr>
                <tr><td><input type="checkbox" id="p1Box" checked>1</input></td></tr>
                <tr><td><input type="checkbox" id="p2Box" checked>2</input></td></tr>
                <tr><td><input type="checkbox" id="p3Box" checked>3</input></td></tr>
                <tr><td><input type="checkbox" id="pnBox" checked>None</input></td></tr>
            </table>
        </div>
    </div>
    {% endblock %}
