{% extends 'cal/base.html' %}

    {% block title %} Dashboard {% endblock %}
    {% block head %}
        <style>
            div#dashboard{padding:5px;}
        </style>
    {% endblock %}    
    {% block content %}
    <div id="dashboard">
        <b>Your tasks</b>
        <table>
            <th>Name</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th>Progress</th>
            <th>Assignees</th>
            <th>Event</th>
            <th></th>
            {% for task in userTasks%}
                <tr>
                    <td>
                        {{task.name}}
                    </td>
                    <td>
                        {{task.status}}
                    </td>
                    <td>
                        {{task.start}}
                    </td>
                    <td>
                        {{task.end}}
                    </td>
                    <td>
                        {{task.progress}}%
                    </td>
                    <td>
                        {% for assignee in task.assignee.all %}{{assignee.resource.get_full_name}}, {% endfor %}
                    </td>
                    <td>
                        <a href="{{task.event.get_event_url}}">{{task.event}}</a>
                    </td>
                    <td>
                        <span class="teamworkIcon" style="font-size:12px;" ><a href="{{task.event.get_gantt_url}}">e</a></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <b>Your events</b>
        <table>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>Attendees</th>
            <th></th>
            {% for event in userEvents%}
                <tr>
                    <td>
                        <a href="{{event.get_event_url}}">{{event.title}}</a>
                    </td>
                    <td>
                        {{event.start}}
                    </td>
                    <td>
                        {{event.end}}
                    </td>
                    <td>
                        {% for attendee in event.attendee.all %}{{attendee.get_full_name}}, {% endfor %}
                    </td>
                    <td>
                        <span class="teamworkIcon" style="font-size:12px;" ><a href="{% url 'admin:cal_event_change' event.id %}">e</a></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <b>Upcoming tasks</b>
        <table>
            <th>Name</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th>Progress</th>
            <th>Assignees</th>
            <th>Event</th>
            <th></th>
            {% for task in tasks%}
                <tr>
                    <td>
                        {{task.name}}
                    </td>
                    <td>
                        {{task.status}}
                    </td>
                    <td>
                        {{task.start}}
                    </td>
                    <td>
                        {{task.end}}
                    </td>
                    <td>
                        {{task.progress}}%
                    </td>
                    <td>
                        {% for assignee in task.assignee.all %}{{assignee.resource.get_full_name}}, {% endfor %}
                    </td>
                    <td>
                        <a href="{{task.event.get_event_url}}">{{task.event}}</a>
                    </td>
                    <td>
                        <span class="teamworkIcon" style="font-size:12px;" ><a href="{{task.event.get_gantt_url}}">e</a></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <b>Upcoming events</b>
        <table>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>Attendees</th>
            <th></th>
            {% for event in events%}
                <tr>
                    <td>
                        <a href="{{event.get_event_url}}">{{event.title}}</a>
                    </td>
                    <td>
                        {{event.start}}
                    </td>
                    <td>
                        {{event.end}}
                    </td>
                    <td>
                        {% for attendee in event.attendee.all %}{{attendee.get_full_name}}, {% endfor %}
                    </td>
                    <td>
                        <span class="teamworkIcon" style="font-size:12px;" ><a href="{% url 'admin:cal_event_change' event.id %}">e</a></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <b>Process update</b>
        <table>
            <th>Title</th>
            <th>Themes</th>
            <th>Events</th>
            {% for process in processes%}
                <tr>
                    <td>
                        {{process.title}}
                    </td>
                    <td>
                        {% for theme in process.theme.all %}{{theme}}; {% endfor %}
                    </td>
                    <td>
                        {% with eventCount=process.events.count %}{{eventCount}} {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
