{% extends 'cal/base.html' %}

    {% block title %} {{object.title}} {% endblock %}
    {% block head %}
        <style>
          div#event{padding:5px;}
          h1{
            color: #000000;
            font-weight: bold;
            font-size: 28px;
          }
        </style>
    {% endblock %}
    {% block content %}
    <div id="event">
      <h1>{{event.title}}</h1>
      <h2>{{event.start}} {% if event.end %} to {{event.end}}{% endif %}{% if event.location %} - {{event.location}}{% endif %} </h2>
      <p><b><a href="{{event.get_gantt_url}}">View gantt chart</a>{% if perm.add_event %} / <a href="{% url 'admin:cal_event_change' event.id %}">Edit this event</a> / <a href="{% url 'admin:cal_event_add' %}">Add new event</a>{% endif %}</b></p>
      <p><b>Priority: </b>{{event.priority}}</p>
      <p><b>Focus: </b>{{event.focus_verbose}}</p>
      <p><b>Colour: </b><span style="color:{{event.color}};">{{event.color_verbose}}</span></p>
      <p><b>Start date: </b>{{event.start}}</p>
      <p><b>Date confirmed: </b>{{event.date_confirmed}}</p>
      <p><b>End date: </b>{{event.end}}</p>
      <p><b>Location: </b>{{event.location}}</p>
      <p><b>Description: </b>{{event.description}}</p>
      <p><b>Objectives: </b>{{event.objectives}}</p>
      <p><b>Event page: </b>{% if event.event_URL %}<a href="{{event.event_URL}}">Here</a>{% endif %}</p>
      <p><b>Attendees: </b>{% for attendee in event.attendee.all %}{{attendee.get_full_name}}, {% endfor %}</p>
      <p><b>Processes: </b>{% for process in event.process.all %}{{process}}; {% endfor %}</p>
      <p><b>Themes: </b>{% for theme in event.theme.all %} {{theme}}; {% endfor %}</p>
      <p><b>Tags: </b>{% for tag in event.tag.all %}{{tag}}; {% endfor %}</p>
      <p><b>Funders: </b>{% for funder in event.funders.all %}{{funder}}; {% endfor %}</p>
      <p><b>Estimated costs: </b>{% if event.estimated_cost %}£{{event.estimated_cost}}{% endif %}</p>
      <p><b>Attachments: </b>
      <table>
        <tr>
        <th>File</th>
        <th>Updated</th>
        <th>Last updated by</th>
        </tr>
        {% for attachment in event.attachments.all %}
          <tr>
            <td><a href="{{attachment.upload.url}}">{{attachment}}</a></td>
            <td>{{attachment.modified}}</td>
            <td>{{attachment.modifier.get_full_name}}</td>
          </tr>
          {% endfor %}
      </table>
      </p>

    </div>
    {% endblock %}
